body { 
    background-color: #606060;
}
h1 { 
    position: relative;
    left: 700px;
    font-family: Arial, Helvetica, sans-serif;
}
div#thumbs { 
    position: relative;
    top: 200px;
    left: 700px;
}
img#voltar {
    position: relative;
    top: 100px;
    left: 750px;
}
iframe.video { 
    position: relative;
    left: 700px;
}